{{!-- layout.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT license. --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotted</title>
    <link href="/styles/post.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    {{{ body }}}

    <script src="/scripts/socket-client.mjs" type="module"></script>
  </body>
</html>
