{{!-- main.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT License. --}}

<p>Your latitude is: {{latitude}}.</p>
<p>Your longitude is: {{longitude}}.</p>
<p>The accuracy of this reading is: {{accuracy}}</p>
