{{!-- post.hbs --}}
{{!-- Copyright (c) 2024 Ishan Pranav --}}
{{!-- Licensed under the MIT license. --}}

<div class="spotted-overflow-container">
    <table class="table">
        <thead>
            <tr>
                <th>Messages</th>
            </tr>
        </thead>
        <tbody id="messagesTable"></tbody>
    </table>
</div>
<ul class="nav nav-tabs my-2">
    <li class="nav-item">
        <a id="messageTab"
           class="nav-link active"
           aria-current="page"
           href="#">Message</a>
    </li>
    <li class="nav-item">
        <a id="imageTab"
           class="nav-link"
           href="#">Image</a>
    </li>
</ul>
<div class="my-2">
    <div id="messageTabPage"
         class="form-floating">
        <textarea id="contentInput"
                  name="content"
                  class="form-control"
                  placeholder="Enter a message..."
                  aria-label="Enter a message..."
                  aria-describedby="postButton"></textarea>
        <label for="contentInput">Enter a message...</label>
    </div>
    <div id="imageTabPage"
         class="d-none">
        <input id="imageInput"
               class="form-control"
               type="file"
               accept="image/*" />
        <img id="pictureBox"
             src=""
             class="img-thumbnail mt-2"
             width="200"
             height="200"
             alt="Image preview" />
    </div>
</div>
<input id="postButton"
       class="btn btn-primary w-100"
       type="submit"
       value="Post" />
<script src="/scripts/post.js"
        type="module"></script>