<h1>Post</h1>
<form method="post">
    <label for="messageInput">Message: </label>
    <input
        id="messageInput" 
        name="message" 
        type="text" 
        placeholder="Enter your message..." />
    <table id="messagesTable">
    </table>
    <input id="postButton" type="submit" value="Post" />
</form>
